.countries {
    margin-top: 3em;
    margin-left: 1em;
    margin-right: 1em;
    width: 100%;
}

.flex {
    display: flex;
}

.button {
    margin-right: 10px;
}

.table {
    margin-top: 2em;
}

.title {
    font-family: Roboto-Regular;
    margin-left: 1em;
    margin-top: 6em;
}